body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(40, 8, 128);
    position: relative;
    background: url('sea-flowers-scenery.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background: rgba(43, 29, 94, 0.897);
    padding: 35px 80px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(109, 108, 108, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(214, 158, 94);
}
h4{
    color: rgb(185, 185, 185);
}

.timer {
    font-family: 'Playwrite NG Modern';
    font-size: 3.5em;
    margin-bottom: 20px;
    color: rgb(218, 218, 218);
}

.controls button {
    font-family: 'Playwrite NG Modern';
    font-size: 1.2em;
    padding: 4px 16px;
    margin: 12px;
    border: none;
    border-radius: 5px;
    background: rgb(3, 119, 3);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.controls button:hover {
    background: rgb(161, 47, 18);
    transform: scale(1.16);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#creds {
    font-family: "Playwrite AU SA", cursive;
    position: absolute;
    bottom: 28px;
    left: 3em;
    font-size: 18px;
    padding: 1px 12px;
    background: rgb(0, 141, 71);
    color: rgb(248, 248, 248);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#creds:hover {
    background-color: rgb(214, 214, 214);
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#creds.active {
    background: rgba(155, 148, 224, 0.952);
    color: rgb(3, 3, 3);
    cursor: default;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 100px;
    padding: 5px;
    margin: 7px;
}

.webpage {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.creds {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.spotify {
    position: absolute;
    bottom: 4em;
    left: 2.7em;
    padding: 7px 10px;
    right: auto;
    float: left;
}

@media (max-width: 800px) and (max-height: 1000px) {
    .spotify {
        display: none;
    }
}

@media (width: 1024px) and (height: 600px) {
    .spotify {
        display: none;
    }
}

@media (width: 1280px) and (height: 800px) {
    .spotify {
        position: absolute;
        scale: 0.8;
        bottom: 2.1em;
        left: 0.8em;
        padding: 7px 10px;
        right: auto;
        float: left;
    }
}

.navbar {
    background-color: rgba(5, 5, 5, 0.575);
    color: rgb(203, 167, 218);
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(203, 167, 218);
}

.navbar ul li {
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: 0;
    font-weight: 10px;
    font-size: 25px;
    padding: 4px 15px;
}

.navbar ul li:hover{
    background-color: rgba(255, 255, 255, 0.747);
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration-thickness: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar ul li a:hover {
    color: rgb(0, 0, 0);
    text-decoration-thickness: 20px;
    transform: scale(1.05);
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #adadad;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #629c6fbe;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.8s ease;
}

.dropdown button {
    font-family: 'Playwrite NG Modern';
    font-size: 18px;
    background-color: rgba(30, 135, 153, 0.932);
    color: rgb(231, 231, 231);
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: rgb(134, 133, 133);
    color: rgb(5, 5, 5);
    transform: scale(1.16);
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.show {
    display: block;
}